.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }

.icon :hover {
    color: lightseagreen
}

@media (max-width: 700px) {
    .icon {
        margin-left: 5px;
        font-size: 20px;
    }
}