.container {
    display: flex;
    width: 90%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.todos {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(235, 103, 80, 0.7);
}

.completed {
    background-color: rgba(0, 211, 88, 0.6);
}

.inProgress {
    background-color: rgba(50,195,205, 0.7) ;
}

.unStarted {
    width: 100%;
    background-color: rgba(179, 179, 179, 0.6);
    margin-top: 15px;
}

.todos__heading {
    font-size: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 1100px) {

    .todos {
        width: 45%;
    }
    .unStarted {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 95%;
        flex-direction: column;
    }

    .input {
        width: 95%;
    }
    .todos {
        width: 95%;
        margin-bottom: 10px;
    }
    .unStarted {
        margin-top: 0px;
    }
}